@import "tailwindcss";

body {
  caret-color: transparent;
}

input,
textarea {
  caret-color: auto;
}

/* HIDE SCROLLBAR */

::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}